.chars>img {
    width: 200px;  
    height: 200px;   
    object-fit: cover;
    border-radius: 2px;
}

.chars{
    border: 2px solid black;   
}

.chars:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,.16);
    box-shadow: 0 5px 10px black;
    transform: scale(1.05);
}

body {
    background-image: url("/images/background.jpg");
    background-size: cover;
}